*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
:root {
  --primary-font: Segoe UI;
  --secondary-font: Roberto;
  --primary-color: #24f65c;
  --secondary-color: #6e6e6e;
  --black: rgb(36, 35, 35);
  --white: rgb(238, 240, 241);
}
.Card {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  background-color: var(--white);
  overflow: hidden;
  width: 90vw;
  border-radius: 0.5rem;
  margin: auto;
  margin-top: 2rem;
  text-align: start;
  display: flex;
}
p {
  font-size: 1.25em;
}
.imageDiv {
  min-height: 100%;
  overflow: hidden;
  order: 2;
  background-color: var(--primary-color);
}
.imageDiv img {
  min-height: 100%;
  display: block; /* remove extra space below image */
  mix-blend-mode: multiply; /*to change the hue of the image based on the container bacground*/
}
.infoDiv {
  width: 50%;
  order: 1;
  padding: 2rem;
  padding-bottom: 0;
  margin: 0.5rem;
}
.title {
  font-family: var(--primary-font);
  color: var(--black);
}
.firstWord {
  color: var(--primary-color);
}
.paragraf {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Stat {
  display: inline-block;
  padding: 1rem;
  text-align: center;
}
.Stat h2 {
  color: var(--black);
}

@media only screen and (max-width: 767px) {
  .Card {
    flex-direction: column;
    text-align: center;
  }
  .imageDiv {
    order: 1;
    min-width: 100%;
    overflow: hidden;
    max-height: 350px;
  }
  .imageDiv img {
    min-width: 100%;
  }
  .infoDiv {
    order: 1;
    margin: 1rem;
    align-self: center;
    min-width: 70vw;
  }
  .stats {
    flex-direction: column;
  }
}
